<template>
  <div class="look-up">
    <div class="lookup-title">
      <div
        style="
          display: table-cell;
          color: #02993b;
          font-size: 16pt;
          vertical-align: middle;
          width: 100px;
        "
      >
        {{ $t("transactionLookup") }}
      </div>
      <div style="display: table-cell; width: 40px; vertical-align: middle">
        <more-outlined />
      </div>
      <div
        style="display: table-cell; color: #333333, font-size: 14pt; vertical-align: middle;"
      >
        {{ $t("officialTrade") }}
      </div>
    </div>
    <div class="filters">
      <a-form>
        <a-form-item :style="{ margin: 0 }">
          <div>
            <a-dropdown>
              <template #overlay>
                <a-menu>
                  <a-menu-item key="1">
                    <UserOutlined />
                    1st menu item
                  </a-menu-item>
                  <a-menu-item key="2">
                    <UserOutlined />
                    2nd menu item
                  </a-menu-item>
                  <a-menu-item key="3">
                    <UserOutlined />
                    3rd item
                  </a-menu-item>
                </a-menu>
              </template>
              <a-button>
                {{ $t("tradeId") }}
                <DownOutlined />
              </a-button>
            </a-dropdown>
            <a-input
              :placeholder="$t('tradeIdHolder')"
              v-model:value="formRef.orderNum"
              style="width: 200px"
            >
            </a-input>
            <a-dropdown>
              <template #overlay>
                <a-menu>
                  <a-menu-item key="1">
                    <UserOutlined />
                    1st menu item
                  </a-menu-item>
                  <a-menu-item key="2">
                    <UserOutlined />
                    2nd menu item
                  </a-menu-item>
                  <a-menu-item key="3">
                    <UserOutlined />
                    3rd item
                  </a-menu-item>
                </a-menu>
              </template>
              <a-button>
                {{ $t("moreFilter") }}
                <UnorderedListOutlined />
              </a-button>
            </a-dropdown>
          </div>
        </a-form-item>
        <a-form-item
          :label="$t('timestamp')"
          v-bind="validateInfos.selectedTime"
          :style="{ margin: 0 }"
        >
          <a-radio-group
            v-model:value="formRef.selectedTime"
            button-style="solid"
            class="groupBox"
          >
            <a-radio-button value="1">{{
              $t("transactionTime")
            }}</a-radio-button>
            <a-radio-button value="2">{{
              $t("bookkeepingTime")
            }}</a-radio-button>
          </a-radio-group>
        </a-form-item>
        <a-form-item :label="$t('timeRange')" :style="{ margin: 0 }">
          <a-radio-group
            v-model:value="formRef.timeRange"
            button-style="solid"
            class="groupBox"
          >
            <a-radio-button value="today" @click="clearDateSelect">{{
              $t("today")
            }}</a-radio-button>
            <a-radio-button value="yesterday" @click="clearDateSelect">{{
              $t("yesterday")
            }}</a-radio-button>
            <a-radio-button value="pastThreeDays" @click="clearDateSelect">{{
              $t("lastThree")
            }}</a-radio-button>
            <a-radio-button value="pastWeek" @click="clearDateSelect">{{
              $t("lastSev")
            }}</a-radio-button>
            <a-radio-button value="halfMonth" @click="clearDateSelect">{{
              $t("lastFifteen")
            }}</a-radio-button>
            <a-radio-button value="custom" @click="enableDateSelect">{{
              $t("custom")
            }}</a-radio-button>
          </a-radio-group>
          <a-range-picker
            :disabled="!customDate"
            v-model:value="formRef.userInputTime"
            :format="dateFormat"
          />
        </a-form-item>
        <a-form-item
          :label="$t('paymentStatus')"
          v-bind="validateInfos.paymentStatus"
          :style="{ margin: 0 }"
        >
          <a-checkbox-group v-model:value="formRef.paymentStatus">
            <a-checkbox value="1" class="checkBox">{{
              $t("success")
            }}</a-checkbox>
            <a-checkbox value="0" class="checkBox">{{
              $t("failed")
            }}</a-checkbox>
            <a-checkbox value="-1" class="checkBox">{{
              $t("pending")
            }}</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item
          :label="$t('delieveryStatus')"
          v-bind="validateInfos.pitchStatus"
          :style="{ margin: 0 }"
        >
          <a-checkbox-group v-model:value="formRef.pitchStatus">
            <a-checkbox value="1" class="checkBox">{{
              $t("delivered")
            }}</a-checkbox>
            <a-checkbox value="0" class="checkBox">{{
              $t("notDelivered")
            }}</a-checkbox>
            <a-checkbox value="-1" class="checkBox">{{
              $t("empty")
            }}</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item
          :label="$t('refundStatus')"
          v-bind="validateInfos.refundStatus"
          :style="{ margin: 0 }"
        >
          <a-checkbox-group v-model:value="formRef.refundStatus">
            <a-checkbox value="1" class="checkBox">{{
              $t("refunded")
            }}</a-checkbox>
            <a-checkbox value="0" class="checkBox">{{
              $t("refundPending")
            }}</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item
          :label="$t('trackingNum')"
          v-bind="validateInfos.carrierStatus"
          :style="{ margin: 0 }"
        >
          <a-checkbox-group v-model:value="formRef.carrierStatus">
            <a-checkbox value="1" class="checkBox">{{
              $t("uploaded")
            }}</a-checkbox>
            <a-checkbox value="0" class="checkBox">{{
              $t("missing")
            }}</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item>
          <a-button
            type="primary"
            html-type="submit"
            @click.prevent="onSubmit(formRef.timeRange)"
          >
            <SearchOutlined />
            {{ $t("search") }}
          </a-button>
          <a-button style="margin-left: 10px" @click.prevent="resetFields">
            <ReloadOutlined />
            {{ $t("reset") }}
          </a-button>
        </a-form-item>
      </a-form>
    </div>
    <div class="result" v-if="tableShow">
      <div style="margin-left: 1%"><ExclamationCircleFilled /></div>
      <div style="margin-left: 1%">
        {{ $t("resultFirst") }} {{ formData.length }} {{ $t("resultSecond") }}
      </div>
    </div>
    <div class="result-show" v-if="tableShow">
      <div class="row">
        <button
          type="button"
          style="background-color: #07b464; margin-left: 1%"
        >
          <DownloadOutlined />
          {{ $t("download") }}
        </button>
      </div>
      <div class="data-table">
        <a-table
          :columns="columns"
          :data-source="dataRef"
          class="components-table-demo-nested"
          :pagination="{ pageSize: 3 }"
        >
          <template #bodyCell="{ column }">
            <template v-if="column.key === 'operation'">
              <a style="color: #07b464">{{ $t("more") }}</a>
            </template>
            <template v-if="column.key === 'transactionExpand'">
              <a style="color: #ff7a00">{{ $t("transactionDetails") }}</a>
            </template>
            <template v-if="column.key === 'riskExpand'">
              <a style="color: #ff0000">{{ $t("riskDetails") }}</a>
            </template>
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>

<script>
import {
  MoreOutlined,
  ExclamationCircleFilled,
  DownloadOutlined,
  DownOutlined,
  UnorderedListOutlined,
  UserOutlined,
  SearchOutlined,
  ReloadOutlined,
} from "@ant-design/icons-vue";
import { defineComponent, ref } from "vue";
import { Form } from "ant-design-vue";
import { formalTransList } from "@/api/transaction.js";
import moment from "moment";
import { useI18n } from "vue-i18n";
export default defineComponent({
  components: {
    MoreOutlined,
    ExclamationCircleFilled,
    DownloadOutlined,
    DownOutlined,
    UnorderedListOutlined,
    UserOutlined,
    SearchOutlined,
    ReloadOutlined,
  },

  setup() {
    const { t } = useI18n();
    const formRef = ref({
      orderNum: "",
      selectedTime: "1",
      timeRange: "",
      userInputTime: [],
      paymentStatus: [],
      pitchStatus: [],
      refundStatus: [],
      carrierStatus: [],
    });

    const transformArr = (arr) => {
      arr.forEach((element, index) => {
        arr[index] = Number(element);
      });
    };

    const dateFormat = "YYYY-MM-DD";
    const customDate = ref(false);
    const enableDateSelect = () => {
      customDate.value = true;
    };
    const clearDateSelect = () => {
      customDate.value = false;
    };

    const rulesRef = ref({
      orderNum: [
        {
          required: false,
        },
      ],
      selectedTime: [
        {
          required: false,
        },
      ],
      timeRange: [
        {
          required: false,
        },
      ],
      userInputTime: [
        {
          required: false,
        },
      ],
      paymentStatus: [
        {
          required: false,
          type: "array",
        },
      ],
      refundStatus: [
        {
          required: false,
          type: "array",
        },
      ],
      carrierStatus: [
        {
          required: false,
          type: "array",
        },
      ],
    });

    const useForm = Form.useForm;
    const { resetFields, validate, validateInfos } = useForm(formRef, rulesRef);
    const resetForm = () => {
      resetFields();
    };

    const currTime = ref(moment().format("YYYY-MM-DD HH:mm:ss"));
    const dayType = ref({
      today: {
        startTime: moment().startOf("day").format("YYYY-MM-DD HH:mm:ss"),
        returnType: "day",
      },
      yesterday: {
        startTime: moment().add(-24, "hours").format("YYYY-MM-DD HH:mm:ss"),
        returnType: "day",
      },
      pastThreeDays: {
        startTime: moment().add(-72, "hours").format("YYYY-MM-DD HH:mm:ss"),
        returnType: "day",
      },
      pastWeek: {
        startTime: moment().add(-6, "days").format("YYYY-MM-DD HH:mm:ss"),
        returnType: "day",
      },
      halfMonth: {
        startTime: moment().add(-14, "days").format("YYYY-MM-DD HH:mm:ss"),
        returnType: "day",
      },
      custom: {
        startTime: null,
        endTime: null,
        returnType: "day",
      },
    });

    const tableShow = ref(false);
    const columns = [
      {
        title: t("tradeNo"),
        dataIndex: "orderNum",
        key: "orderNum",
        align: "center",
      },
      {
        title: t("orderNo"),
        dataIndex: "paymentID",
        key: "paymentID",
        align: "center",
      },
      {
        title: t("tradeTag"),
        dataIndex: "tradeTag",
        key: "tradeTag",
        align: "center",
      },
      { title: t("email"), dataIndex: "email", key: "email", align: "center" },
      {
        title: t("transactionTime"),
        dataIndex: "transactionTime",
        key: "transactionTime",
        align: "center",
      },
      {
        title: t("paymentStatus"),
        dataIndex: "status",
        key: "status",
        align: "center",
      },
      {
        title: t("amount"),
        dataIndex: "amount",
        key: "amount",
        align: "center",
      },
      { title: "", key: "transactionExpand", align: "center" },
      { title: "", key: "riskExpand", align: "center" },
      { title: t("operation"), key: "operation", align: "center" },
    ];
    const dataRef = ref([]);
    const formData = ref([]);
    const onSubmit = async (type) => {
      let timeType;
      dataRef.value = [];
      if (customDate.value) {
        const customStartTime = moment(
          formRef.value.userInputTime[0].$d
        ).format("YYYY-MM-DD HH:mm:ss");
        const customEndTime = moment(formRef.value.userInputTime[1].$d).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        dayType.value["custom"].startTime = customStartTime;
        dayType.value["custom"].endTime = customEndTime;
      }
      if (typeof type == "object") {
        timeType = type.value;
      } else {
        timeType = type;
      }

      transformArr(formRef.value.pitchStatus);
      transformArr(formRef.value.carrierStatus);
      transformArr(formRef.value.paymentStatus);
      transformArr(formRef.value.refundStatus);

      const params = {
        bankOrderNo: null,
        cardTypeList: [],
        congealFeatureList: [],
        currencyList: [],
        deliveryStatusList: Array.from(formRef.value.pitchStatus),
        email: null,
        endTime: currTime.value,
        firstSixNumbers: null,
        ipAddress: null,
        lastFourNumbers: null,
        logisticsStatusList: Array.from(formRef.value.carrierStatus),
        pageNum: 1,
        pageSize: 10,
        paymentMethodId: [],
        paymentStatusList: Array.from(formRef.value.paymentStatus),
        preAuthFeatureViewList: [],
        refundStatusList: Array.from(formRef.value.refundStatus),
        rejectionFeatureList: [],
        settlementStatusViewList: [],
        startTime: dayType.value[timeType].startTime,
        terminalList: [],
        threeDomainSecureFeatureList: [],
        timeType: Number(formRef.value.selectedTime),
        tradeNo: formRef.value.orderNum,
        transactionTypeList: [],
        website: null,
      };
      // console.log(params);
      const res = await formalTransList(params);
      console.log(res.list);
      formData.value = res.list;
      let keyIndex = 0;
      const transStatus = new Map();
      transStatus.set(1, "success");
      transStatus.set(0, "failed");
      transStatus.set(-1, "pending");
      const authType = new Map();
      authType.set(1, "preAuth");
      authType.set(0, "normal");
      formData.value.forEach((item) => {
        // console.log(item);
        dataRef.value.push({
          key: keyIndex,
          orderNum: item.orderNo,
          paymentID: item.tradeNo,
          tradeTag: t(authType.get(item.authType)),
          email: item.email,
          transactionTime: moment(new Date(item.transTime)).format(
            "YYYY-MM-DD"
          ),
          status: t(transStatus.get(item.transStatus)),
          amount: item.currency + item.amount,
        });
        keyIndex++;
      });
      tableShow.value = true;
    };

    return {
      formRef,
      customDate,
      dateFormat,
      enableDateSelect,
      clearDateSelect,
      resetFields,
      validateInfos,
      resetForm,
      onSubmit,
      formData,
      dataRef,
      columns,
      tableShow,
    };
  },
});
</script>

<style>
.look-up {
  position: relative;
  left: 258px;
  height: calc(100vh - 70px);
  width: calc(100vw - 258px);
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  background-color: #e8ecf5;
}

.lookup-title {
  border-radius: 5px;
  /* border: 1px solid blue; */
  width: 100%;
  height: 5%;
  margin: 1%;
  display: table;
  background-color: white;
}

.filters {
  border-radius: 5px;
  /* border: 1px solid blue; */
  width: 100%;
  height: 260px;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.row {
  width: 100%;
  height: 32px;
  display: flex;
}

.row-title {
  margin-left: 1%;
}

.result {
  border-radius: 5px;
  /* border: 1px solid blue; */
  width: 100%;
  height: 5%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  display: flex;
}

.result-show {
  border-radius: 5px;
  /* border: 1px solid blue; */
  width: 100%;
  height: 40%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.data-table {
  /* border: 1px solid blue; */
  width: 100%;
}

/* row data */
.ant-table-tbody > tr > td {
  height: 5px;
  padding: 5px;
}
</style>
