<template>
  <div class="login-container">
    <!-- Title -->
    <h2 class="login-title">{{ $t("welcome") }}</h2>
    <!-- Login Form -->
    <a-form ref="form" class="login-form">
      <!-- Login Title -->
      <h2 class="title">{{ $t("signIn") }}</h2>
      <!-- Account & Account Type -->
      <a-form-item>
        <a-input :placeholder="$t('accountNum')" v-model:value="accountNum">
          <template #prefix>
            <desktop-outlined />
          </template>
          <template #addonAfter>
            <a-select ref="select" v-model:value="loginAccountType">
              <a-select-option value="1">{{ $t("account") }}</a-select-option>
              <a-select-option value="2">{{ $t("suid") }}</a-select-option>
            </a-select>
          </template>
        </a-input>
      </a-form-item>
      <!-- Username -->
      <a-form-item>
        <a-input v-model:value="username" :placeholder="$t('username')">
          <template #prefix>
            <user-outlined type="user" />
          </template>
        </a-input>
      </a-form-item>
      <!-- Password -->
      <a-form-item>
        <a-input-password
          v-model:value="password"
          :placeholder="$t('password')"
        >
          <template #prefix>
            <lock-outlined />
          </template>
        </a-input-password>
      </a-form-item>
      <!-- Verification Code -->
      <a-form-item class="verification" name="userVerificationCode">
        <a-input
          :placeholder="$t('verification')"
          v-model:value="verificationCode"
          :maxlength="4"
          style="width: 50%"
        >
        </a-input>
        <img
          class="verification-code"
          :src="verificationImg"
          alt=""
          @click="createCode"
        />
      </a-form-item>
      <!-- Submit -->
      <a-form-item>
        <a-button class="submit" type="primary" @click.prevent="checkCode()">
          {{ $t("submit") }}
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useUserStore } from "@/stores/user.js";
import {
  UserOutlined,
  DesktopOutlined,
  LockOutlined,
} from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { useRoute } from "vue-router";
import {
  login,
  getVerificationCode,
  checkVerificationCode,
} from "@/api/login.js";
export default {
  components: {
    UserOutlined,
    DesktopOutlined,
    LockOutlined,
  },
  setup() {
    const userStore = useUserStore();
    const router = useRouter();
    const route = useRoute();
    const accountNum  = ref("");
    const loginAccountType = ref("1");
    const username = ref("");
    const password = ref("");
    const verificationCode = ref("");

    // Fetch verification code
    const verificationImg = ref();
    const imgCodeKey = ref("");
    const createCode = async () => {
      const res = await getVerificationCode({
        codeKey: imgCodeKey.value,
      });
      if (res) {
        verificationImg.value = window.URL.createObjectURL(res.data);
        imgCodeKey.value = res.headers.codekey;
      }
    };

    // Check verification code
    const checkCode = async () => {
      const res = await checkVerificationCode({
        code: verificationCode.value,
        codeKey: imgCodeKey.value,
      });
      if (res) {
        submit();
      } else {
        createCode();
      }
    };

    const submit = async () => {
      const res = await login({
        account: accountNum.value,
        username: username.value,
        password: password.value,
        loginType: loginAccountType.value,
        code: verificationCode.value,
        codeKey: imgCodeKey.value,
      });
      if (res) {
        userStore.username = username.value;
        userStore.password = password.value;
        userStore.isAuth = true;
        if (res.token) {
          localStorage.setItem("token", res.token);
        }
        const redirectPath = route.query.redirect || "/";
        router.push(redirectPath);
      } else {
        createCode();
      }
      username.value = "";
      password.value = "";
    };

    onMounted(() => {
      createCode();
    });

    return {
      accountNum,
      username,
      password,
      loginAccountType,
      userStore,
      submit,
      createCode,
      checkCode,
      verificationCode,
      verificationImg,
      imgCodeKey,
    };
  },
};
</script>

<style scoped>
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("@/assets/reset.9af3342d.png") no-repeat;
  background-size: 100% 100%;
}

.login-form {
  width: 565px;
  height: 372px;
  margin: 0 auto;
  background: white;
  padding: 40px 110px;
}

.login-title {
  color: #01bf4a;
  text-align: center;
  margin: 100px 0 60px 0;
  font-size: 36px;
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
}

.title {
  margin-bottom: 50px;
  color: #01bf4a;
  font-weight: 700;
  font-size: 24px;
  font-family: Microsoft Yahei;
}

.inputBox {
  height: 45px;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}

.verification-code {
  display: inline-flex;
  width: 50%;
  height: 42px;
  align-items: center;
  cursor: pointer;
}

.verification-span {
  background-color: yellow;
}
</style>
