<template>
  <div class="header">
    <div style="padding-right: 30px"><UserOutlined /></div>
    <div>&nbsp;</div>
    <div id="username">{{ $t("username") }}</div>
    <div>&nbsp;</div>
    <div><poweroff-outlined /></div>
    <div id="dropdown">
      <a-dropdown>
        <a class="ant-dropdown-link" @click.prevent>
          {{ $t("account") }}: 140104
          <DownOutlined />
        </a>
        <template #overlay>
          <a-menu>
            <a-menu-item>
              <a href="javascript:;">1st menu item</a>
            </a-menu-item>
            <a-menu-item>
              <a href="javascript:;">2nd menu item</a>
            </a-menu-item>
            <a-menu-item>
              <a href="javascript:;">3rd menu item</a>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
    <div class="vl"></div>
    <div class="icon"><SettingOutlined /></div>
    <div class="icon"><ExpandOutlined /></div>
    <div class="icon"><AuditOutlined /></div>
    <div class="icon"><BellOutlined /></div>
    <div class="icon">
      <span class="fi fi-cn"></span>
    </div>
    <div class="logo">
      <router-link to="/">
        <img src="@/assets/op-logo.png" alt="" />
      </router-link>
    </div>
  </div>
</template>

<script>
import {
  DownOutlined,
  UserOutlined,
  SettingOutlined,
  ExpandOutlined,
  AuditOutlined,
  BellOutlined,
  PoweroffOutlined,
} from "@ant-design/icons-vue";
import { defineComponent } from "vue";
import "/node_modules/flag-icons/css/flag-icons.min.css";
export default defineComponent({
  components: {
    DownOutlined,
    UserOutlined,
    SettingOutlined,
    ExpandOutlined,
    AuditOutlined,
    BellOutlined,
    PoweroffOutlined,
  },
});
</script>

<style>
div.header {
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.vl {
  border-left: 1px solid;
  height: 25px;
}

.icon {
  padding-right: 40px;
}

div.logo {
  height: 70px;
  width: 258px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #82D2AA;
}

img {
  max-width: 100%;
  height: 100%;
  vertical-align:middle;
  object-fit: contain;
}

#dropdown {
  padding-left: 40px;
  padding-right: 40px;
}
</style>
