<template>
  <div>
    <HeaderComp />
    <a-layout>
      <a-layout>
        <a-layout-sider
          width="258px"
          :style="{
            overflow: 'auto',
            height: `calc(100% - 70px)`,
            position: 'absolute',
            left: 0,
            top: 50,
            bottom: 50,
          }"
        >
          <a-menu
            mode="inline"
            :style="{ height: '100%', borderRight: 0 }"
            theme="dark"
          >
            <a-sub-menu key="sub1">
              <template #icon>
                <pay-circle-outlined />
              </template>
              <template #title>{{ $t("transactionLookup") }}</template>
              <a-menu-item key="1">
                <router-link to="/transaction">{{ $t("officialTrade") }}</router-link>
              </a-menu-item>
              <a-menu-item key="2">
                <router-link to="/adjusted">{{ $t("blockedTransaction") }}</router-link>
              </a-menu-item>
              <!-- <a-menu-item key="2">{{ $t("blockedTransaction") }}</a-menu-item> -->
              <a-menu-item key="3">{{ $t("unpaidTransaction") }}</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub2">
              <template #icon>
                <printer-outlined />
              </template>
              <template #title>{{ $t("preAuthTransaction") }}</template>
              <a-menu-item key="4">Option 1</a-menu-item>
              <a-menu-item key="5">Option 2</a-menu-item>
              <a-menu-item key="6">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub3">
              <template #icon>
                <exclamation-circle-outlined />
              </template>
              <template #title>{{ $t("abnormalTransaction") }}</template>
              <a-menu-item key="7">Option 1</a-menu-item>
              <a-menu-item key="8">Option 2</a-menu-item>
              <a-menu-item key="9">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub4">
              <template #icon>
                <dollar-circle-outlined />
              </template>
              <template #title>{{ $t("motoTransaction") }}</template>
              <a-menu-item key="10">Option 1</a-menu-item>
              <a-menu-item key="11">Option 2</a-menu-item>
              <a-menu-item key="12">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub5">
              <template #icon>
                <link-outlined />
              </template>
              <template #title>{{ $t("linkManagement") }}</template>
              <a-menu-item key="13">Option 1</a-menu-item>
              <a-menu-item key="14">Option 2</a-menu-item>
              <a-menu-item key="15">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub6">
              <template #icon>
                <credit-card-outlined />
              </template>
              <template #title>{{ $t("opasst") }}</template>
              <a-menu-item key="16">Option 1</a-menu-item>
              <a-menu-item key="17">Option 2</a-menu-item>
              <a-menu-item key="18">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub7">
              <template #icon>
                <bar-chart-outlined />
              </template>
              <template #title>{{ $t("visualization") }}</template>
              <a-menu-item key="19">Option 1</a-menu-item>
              <a-menu-item key="20">Option 2</a-menu-item>
              <a-menu-item key="21">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub8">
              <template #icon>
                <team-outlined />
              </template>
              <template #title>{{ $t("customReport") }}</template>
              <a-menu-item key="22">Option 1</a-menu-item>
              <a-menu-item key="23">Option 2</a-menu-item>
              <a-menu-item key="24">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub9">
              <template #icon>
                <read-outlined />
              </template>
              <template #title>{{ $t("finance") }}</template>
              <a-menu-item key="25">Option 1</a-menu-item>
              <a-menu-item key="26">Option 2</a-menu-item>
              <a-menu-item key="27">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub10">
              <template #icon>
                <meh-outlined />
              </template>
              <template #title>{{ $t("refund") }}</template>
              <a-menu-item key="28">Option 1</a-menu-item>
              <a-menu-item key="29">Option 2</a-menu-item>
              <a-menu-item key="30">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub11">
              <template #icon>
                <calendar-outlined />
              </template>
              <template #title>{{ $t("report") }}</template>
              <a-menu-item key="31">Option 1</a-menu-item>
              <a-menu-item key="32">Option 2</a-menu-item>
              <a-menu-item key="33">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub12">
              <template #icon>
                <tool-outlined />
              </template>
              <template #title>{{ $t("terminal") }}</template>
              <a-menu-item key="34">Option 1</a-menu-item>
              <a-menu-item key="35">Option 2</a-menu-item>
              <a-menu-item key="36">Option 3</a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub13">
              <template #icon>
                <desktop-outlined />
              </template>
              <template #title>{{ $t("developer") }}</template>
              <a-menu-item key="36">Option 1</a-menu-item>
              <a-menu-item key="37">Option 2</a-menu-item>
              <a-menu-item key="38">Option 3</a-menu-item>
            </a-sub-menu>
          </a-menu>
        </a-layout-sider>
      </a-layout>
    </a-layout>
    <router-view />
  </div>
</template>
<script>
import {
  PrinterOutlined,
  PayCircleOutlined,
  ExclamationCircleOutlined,
  DollarCircleOutlined,
  LinkOutlined,
  CreditCardOutlined,
  BarChartOutlined,
  TeamOutlined,
  ReadOutlined,
  MehOutlined,
  CalendarOutlined,
  ToolOutlined,
  DesktopOutlined,
} from "@ant-design/icons-vue";
import { defineComponent } from "vue";
import HeaderComp from "./HeaderComp.vue";
export default defineComponent({
  components: {
    PrinterOutlined,
    PayCircleOutlined,
    ExclamationCircleOutlined,
    DollarCircleOutlined,
    LinkOutlined,
    CreditCardOutlined,
    BarChartOutlined,
    TeamOutlined,
    ReadOutlined,
    MehOutlined,
    CalendarOutlined,
    ToolOutlined,
    DesktopOutlined,
    HeaderComp,
  },
  setup() {
    return {};
  },
});
</script>
<style></style>
