<template>
  <div class="dashboard">
    <div class="summary">
      <div id="greetings">
        <property-safety-outlined />
        {{ $t("today") }}
      </div>
      <div id="greetings-cont">{{ getTips() }}</div>
      <div id="refresh-time">
        {{ $t("lastUpdated") }} {{ updateDate }} {{ updateTime }}
      </div>
      <div id="total-income">
        <h2 id="income-title">
          <account-book-outlined />
          {{ $t("totalTransaction") }}
        </h2>
        <h2 id="income">
          {{ summary.currency }} {{ summary.successAmountStr }}
        </h2>
        <h2 id="chart-icon"><bar-chart-outlined /></h2>
      </div>
      <div id="numOrders">
        <h2 id="order-title">
          <carry-out-outlined />
          {{ $t("numOrders") }}
        </h2>
        <h2 id="income">{{ summary.totalSuccess }}{{ $t("order") }}</h2>
        <h2 id="chart-icon"><bar-chart-outlined /></h2>
      </div>
    </div>

    <div class="to-do">
      <div id="to-do-title">
        <clock-circle-outlined />
        {{ $t("toDo") }}
      </div>
      <div id="to-authorize">
        <div style="font-size: 18px">
          {{ $t("toAuthorize") }}
          <right-outlined />
        </div>
        <div style="font-size: 24px">
          <file-protect-outlined />
          {{ toAuth }}
          {{ $t("order") }}
        </div>
      </div>
      <div id="rejection">
        <div style="font-size: 18px">
          {{ $t("chargeback") }}
          <stop-outlined />
        </div>
        <div style="font-size: 24px">
          <exception-outlined />
          {{ todoCount.protestCount }}
          {{ $t("order") }}
        </div>
      </div>
      <div id="transfer">
        <div style="font-size: 18px">
          {{ $t("retrieval") }}
          <stop-outlined />
        </div>
        <div style="font-size: 24px">
          <file-text-outlined />
          {{ todoCount.fraudCount }}
          {{ $t("order") }}
        </div>
      </div>
      <div id="fake">
        <div style="font-size: 18px">
          {{ $t("fraud") }}
          <stop-outlined />
        </div>
        <div style="font-size: 24px">
          <idcard-two-tone />
          {{ todoCount.congealCount }}
          {{ $t("order") }}
        </div>
      </div>
    </div>

    <div class="trend">
      <div id="trend-title">
        <fund-two-tone />
        {{ $t("conversionChart") }}
      </div>
      <div id="more-data">
        {{ $t("moreData") }}&nbsp;&nbsp;&nbsp;
        <right-outlined />
      </div>
      <div id="timeFrame">
        <a-radio-group
          v-model:value="timeFrame"
          button-style="solid"
          @change="importChartData(timeFrame)"
        >
          <a-radio-button value="past">{{ $t("lastSev") }}</a-radio-button>
          <a-radio-button value="month">{{
            $t("currentMonth")
          }}</a-radio-button>
          <a-radio-button value="year">{{ $t("currentYear") }}</a-radio-button>
        </a-radio-group>
      </div>
      <div id="echart">
        <ChartComp :options="option" :size="size" />
      </div>
    </div>
  </div>
</template>

<script>
import {
  AccountBookOutlined,
  CarryOutOutlined,
  PropertySafetyOutlined,
  ClockCircleOutlined,
  RightOutlined,
  FileProtectOutlined,
  StopOutlined,
  ExceptionOutlined,
  FileTextOutlined,
  IdcardTwoTone,
  FundTwoTone,
  BarChartOutlined,
} from "@ant-design/icons-vue";
import { defineComponent, ref, onMounted } from "vue";
import moment from "moment";
import ChartComp from "@/components/chart/ChartComp.vue";
import {
  queryReportList,
  queryTradeTodoCount,
  countPending,
} from "@/api/homeTrade.js";
import { useI18n } from "vue-i18n";
export default defineComponent({
  components: {
    AccountBookOutlined,
    CarryOutOutlined,
    PropertySafetyOutlined,
    ClockCircleOutlined,
    RightOutlined,
    FileProtectOutlined,
    StopOutlined,
    ExceptionOutlined,
    FileTextOutlined,
    IdcardTwoTone,
    FundTwoTone,
    ChartComp,
    BarChartOutlined,
  },
  setup() {
    const { t } = useI18n();
    const now = new Date();
    const updateDate = now.getMonth() + 1 + "-" + now.getDate();
    const updateTime = now.getHours() + ":" + now.getMinutes();
    const getTips = () => {
      let todayTime = moment(new Date()).format("YYYY-MM-DD");
      let now = new Date().getTime();
      let time4 = new Date(`${todayTime} 04:00`).getTime();
      let time9 = new Date(`${todayTime} 09:00`).getTime();
      let time12 = new Date(`${todayTime} 12:00`).getTime();
      let time1330 = new Date(`${todayTime} 13:30`).getTime();
      let time1730 = new Date(`${todayTime} 17:30`).getTime();
      let time2230 = new Date(`${todayTime} 22:30`).getTime();
      if (now >= time4 && now < time9) {
        return t("morning");
      } else if (now >= time9 && now < time12) {
        return t("beforeNoon");
      } else if (now >= time12 && now < time1330) {
        return t("noon");
      } else if (now >= time1330 && now < time1730) {
        return t("afternoon");
      } else if (now >= time1730 && now < time2230) {
        return t("evening");
      } else {
        return t("night");
      }
    };

    const summary = ref({
      currency: "",
      successAmountStr: "",
      totalSuccess: 0,
    });

    const fetchSummaryData = async () => {
      const params = {
        startTime: moment().format("YYYY-MM-DD"),
        returnType: "day",
        languageStr: "0",
        endTime: moment().format("YYYY-MM-DD"),
      };
      const res = await queryReportList(params);
      if (res) {
        summary.value = res[0];
      }
    };

    const toAuth = ref(0);
    const todoCount = ref({
      protestCount: 0,
      fraudCount: 0,
      congealCount: 0,
    });
    const getToAuth = async () => {
      const res = await countPending();
      if (res) {
        toAuth.value = res;
      }
    };
    const toDoList = async () => {
      const res = await queryTradeTodoCount();
      if (res) {
        todoCount.value = res;
      }
    };

    // Chart
    const timeFrame = ref("past");
    const size = ref({
      width: "100%",
      height: "100%",
    });

    const currTime = ref(moment().format("YYYY-MM-DD"));
    const dayType = ref({
      past: {
        startTime: moment().add(-6, "days").format("YYYY-MM-DD"),
        returnType: "day",
      },
      month: {
        startTime: moment().startOf("month").format("YYYY-MM-DD"),
        returnType: "day",
      },
      year: {
        startTime: moment().startOf("year").format("YYYY-MM-DD"),
        returnType: "month",
      },
    });

    const option = ref({
      title: {
        text: t("selectedTime"),
      },

      tooltip: {
        trigger: "axis",
      },
      legend: {
        data: [t("successRate"), t("conversionRate")],
      },
      grid: {
        left: "3%",
        right: "4%",
        bottom: "3%",
        containLabel: true,
      },
      toolbox: {
        feature: {
          saveAsImage: {},
        },
      },
      xAxis: {
        type: "category",
        boundaryGap: false,
        data: [],
      },
      yAxis: {
        type: "value",
      },
      series: [
        {
          name: t("successRate"),
          type: "line",
          stack: "Total",
          data: [],
        },
        {
          name: t("conversionRate"),
          type: "line",
          stack: "Total",
          data: [],
        },
      ],
    });

    const importChartData = async (type) => {
      let timeType;
      if (typeof type == "object") {
        timeType = type.value;
      } else {
        timeType = type;
      }
      const params = {
        endTime: currTime.value,
        languageStr: "0",
        returnType: dayType.value[timeType].returnType,
        startTime: dayType.value[timeType].startTime,
      };
      option.value.title.text =
        t("selectedTime") + params.startTime + t("to") + params.endTime;
      const res = await queryReportList(params);
      if (res) {
        option.value.xAxis.data = [];
        option.value.series[0].data = [];
        option.value.series[1].data = [];
        res.forEach((item) => {
          option.value.xAxis.data.push(item.dataTime);
          option.value.series[0].data.push(parseFloat(item.approvedRate));
          option.value.series[1].data.push(
            parseFloat(item.deduplicateTurnRate)
          );
        });
      }
    };

    onMounted(() => {
      fetchSummaryData();
      getToAuth();
      toDoList();
      importChartData(timeFrame);
    });

    return {
      getTips,
      updateDate,
      updateTime,
      timeFrame,
      summary,
      toAuth,
      todoCount,
      option,
      size,
      importChartData,
    };
  },
});
</script>

<style>
html {
  height: 100%;
}

.dashboard {
  position: relative;
  left: 258px;
  height: calc(100vh - 70px);
  width: calc(100vw - 258px);
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  background-color: #e8ecf5;
}

.summary {
  border-radius: 15px;
  background: white;
  margin: 1%;
  width: 48.5%;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}

#greetings {
  position: relative;
  left: 5%;
  top: 5%;
  width: 20%;
  height: 20%;
  font-size: 22px;
  font-weight: bold;
}

#greetings-cont {
  position: relative;
  left: 5%;
  top: 10%;
  width: 50%;
  height: 15%;
  font-size: 12px;
}

#refresh-time {
  width: 25%;
  height: 10%;
  position: relative;
  left: 5%;
  top: 10%;
  font-size: 14px;
  color: #00112d;
  text-align: center;
}

#total-income {
  border-radius: 15px;
  background: #59bcab;
  width: 42%;
  height: 60%;
  position: relative;
  left: 5%;
  display: flex;
}

#numOrders {
  border-radius: 15px;
  background: #f6f9ff;
  width: 42%;
  height: 60%;
  margin-left: 1%;
  left: 10%;
  position: relative;
  display: flex;
}

#income-title {
  margin: 1%;
  position: relative;
  left: 5%;
  color: white;
  left: 10%;
  top: 10%;
  font-size: 18px;
}

#order-title {
  margin: 1%;
  position: relative;
  left: 5%;
  left: 10%;
  top: 10%;
  font-size: 18px;
}

#income {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 18px;
  width: 100%;
  text-align: center;
}

#chart-icon {
  position: relative;
  top: 80%;
  left: 35%;
}

.to-do {
  border-radius: 15px;
  background: white;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 48.5%;
  height: 270px;
  display: flex;
}

#to-do-title {
  font-size: 22px;
  width: 25%;
  height: 15%;
  position: relative;
  top: 5%;
  left: 5%;
  font-weight: bold;
}

#to-authorize {
  width: 20%;
  height: 40%;
  position: relative;
  top: 40%;
  right: 19%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#rejection {
  width: 20%;
  height: 40%;
  position: relative;
  top: 40%;
  right: 14%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#transfer {
  width: 20%;
  height: 40%;
  position: relative;
  top: 40%;
  right: 9%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#fake {
  width: 20%;
  height: 40%;
  position: relative;
  top: 40%;
  right: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trend {
  border-radius: 15px;
  background: white;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 98%;
  height: calc(95% - 270px);
  display: flex;
  flex-wrap: wrap;
}

#trend-title {
  position: relative;
  left: 2.5%;
  top: 3%;
  width: 20%;
  height: 15%;
  font-size: 20px;
  font-weight: bold;
}

#more-data {
  width: 20%;
  height: 15%;
  position: relative;
  left: 55%;
  font-size: 16px;
  text-align: right;
  color: #00112d 70%;
  margin: 1%;
}

#timeFrame {
  height: 10%;
  position: relative;
  top: 15%;
  right: 37.5%;
}

#echart {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 70%;
  /* border: 1px solid blue; */
}
</style>
