<template>
  <div ref="chart" :style="{ width: size.width, height: size.height }"></div>
</template>

<script>
import { nextTick, ref, watchEffect } from "vue";
import * as echarts from "echarts";
import {
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  LegendComponent,
} from "echarts/components";
import { LineChart } from "echarts/charts";
import { UniversalTransition } from "echarts/features";
import { CanvasRenderer } from "echarts/renderers";
export default {
  props: {
    options: {
      type: Object,
      default: () => ({}),
    },
    size: {
      type: Object,
      default: () => ({}),
    },
  },
  setup(props) {
    const chart = ref(null);
    let Chart = null;
    let echart = echarts;
    echart.use([
      TitleComponent,
      ToolboxComponent,
      TooltipComponent,
      GridComponent,
      LegendComponent,
      LineChart,
      CanvasRenderer,
      UniversalTransition,
    ]);

    const drawChart = () => {
      if (Chart) {
        Chart.dispose();
      }

      Chart = echart.init(chart.value);
      Chart.setOption(props.options);
      window.addEventListener("resize", () => {
        Chart.resize();
      });
    };
    watchEffect(() => {
      if (props.options.series[0].data.length) {
        nextTick(() => {
          drawChart();
        });
      }
    });
    return {
      chart,
      drawChart,
    };
  },
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>
