<template>
  <div>
    <NavigationCompVue />
  </div>
</template>
<script>
import NavigationCompVue from "@/components/layout/NavigationComp.vue";
import { defineComponent } from "vue";
export default defineComponent({
  components: {
    NavigationCompVue,
  },
  setup() {
    return {};
  },
});
</script>
<style></style>
